{% extends 'base.html' %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4  %}

{# Load CSS and JavaScript #}
{% bootstrap_css  %}

{% bootstrap_javascript jquery='full' %}
{% load socialaccount %}
{% providers_media_js %} (ONLY FOR FACEBOOK)

<!-- {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %} -->

{% block content  %}
<div class="row justify-content-center ">
  <div class="login-box">
    <div class="login-logo">
      <a href=><b>KNG Travels</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start Booking</p>
        <p>{% block messages %} {% endblock %} </p>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          {% bootstrap_field field show_label=false %}
          {% endfor %}
          <div class="row justify-content-center">
            <!-- <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" name="remember_me">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div> -->
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <!-- <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a> -->
          <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> -->
          <a href="{% provider_login_url 'google' %}" class="btn btn-block btn-success">
            <i class="fab fa-google mr-2"></i> Sign in using Google
          </a>
          <a id="myautopopup" href="{% static 'assets/apkfile/app-release.apk' %}" class="btn btn-block btn-primary"><i class="fab fa-google-play mr-2"></i>  Download<i class="fab fa-android ml-1 mr-1"></i>App</a>
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a href="{% url 'reset_password' %}">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'cust_register' %}" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>
{% endblock %}
<!-- /.login-box -->

