<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4  %}

{# Load CSS and JavaScript #}
{% bootstrap_css  %}

{% bootstrap_javascript jquery='full' %}

{% block content  %}
<div class="row justify-content-center ">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>KNG</b>Travels</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <h3>Password reset sent</h3>


        <p>A reset link has been sent to your registered email. Please use it to reset your password.</p>

        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
<!-- /.login-box -->
{% endblock %}

