<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4  %}

{# Load CSS and JavaScript #}
{% bootstrap_css  %}

{% bootstrap_javascript jquery='full' %}

{% block content  %}
<div class="container row justify-content-center ">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>KNG</b>Travels</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <h3>Password reset complete</h3>

        <p>Your password has been set. You may go ahead and log in now.</p>

        
        <a href="{% url 'login' %}" class="btn btn-primary btn-block">Sign In</a>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
<!-- /.login-box -->
{% endblock %}
