{% extends 'base.html' %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

    <div class="row justify-content-center">
        <div class="box">
            <div class="login-logo">
                <a href=><b>Outstation Bookings</b></a>
            </div>
            {% for x in os_data %}            
            <div class="card card-outline card-green collapsed-card m-1">
                <div class="card-header">
                    <h2 class="card-title" data-card-widget="collapse">Booking-ID : {{ x.os_persional_info.p_order_id }}</h2>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool pt-3 " data-card-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-1">
                    <table class="table table-responsive table-striped">
                        <tr>
                            <td>NAME :</td>
                            <td>{{ x.os_persional_info.p_name }}</td>
                        </tr>
                        <tr>
                            <td>PHONE NO. :</td>
                            <td>{{  x.os_persional_info.p_Phone }}</td>
                        </tr>
                        <tr>
                            <td>EMAIL ID :</td>
                            <td>{{  x.os_persional_info.p_email }}</td>
                        </tr>
                        <tr>
                            <td>Itinerary:</td>
                            <td>{{ x.os_from }}>{{ x.os_to }}>{{ x.os_from }}</td>
                        </tr>
                        <tr>
                            <td>Pickup Date :</td>
                            <td>{{ x.os_pickup }} at {{ x.os_picktime }}</td>
                        </tr>
                        <tr>
                            <td>Return Date :</td>
                            <td>{{ x.os_return}}</td>
                        </tr>
                        <tr>
                            <td>Trip Type :</td>
                            <td>{{ x.os_trip_type }}</td>
                        </tr>
                        <tr>
                            <td>Car Type :</td>
                            <td>{{ x.os_car.c_car }} ({{ x.os_car.c_ac_type }})</td>
                        </tr>
                        <tr>
                            <td>Total Fare :</td>
                            <td>{{ x.os_car.c_amount }}</td>                             
                        </tr>
                        
                        </tbody>
                    </table>
        
                </div>                        
            </div><br>
            {% empty %}
            <div class="shadow p-4 mb-4 bg-white">
                <div class="card-body d-flex">
                    <div class="p-1 flex-fill">
                        <div >
                            <h1> Dear {{ name|title }},</h1>
                            <h2> Sorry You Don't Have Any Outstation bookings... </h2>
                        </div>                       
                    </div>
                </div>                
            </div>
            {% endfor %}
            {% include 'paginator.html' with page_obj=os_data %}
            <div class="row justify-content-center">
                <a href="{% url 'live_booking' %}" name="" class="btn btn-success btn-lg" >Go Back</a>
            </div>
        </div>    
    </div>

{% endblock %}