{% extends 'base.html' %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for x in l_data %}            
            <div class="card card-outline card-warning m-1">
                <div class="card-head border-bottom text-center">
                    <h6> {{ x.l_persional_info.p_order_id }} || {{  x.created_on }}</h6>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <tr>
                            <td>NAME :</td>
                            <td>{{ x.l_persional_info.p_name }}</td>
                        </tr>
                        <tr>
                            <td>PHONE NO. :</td>
                            <td>{{  x.l_persional_info.p_Phone }}</td>
                        </tr>
                        <tr>
                            <td>EMAIL ID :</td>
                            <td>{{  x.l_persional_info.p_email }}</td>
                        </tr>
                        <tr>
                           <td>Itinerary:</td>
                            <td>{{ x.l_from }}>>{{ x.l_to }}>>{{ x.l_from }}</td>
                        </tr> 
                        <tr>
                            <td>Pickup Date :</td>
                            <td>{{ x.l_pickup }} at {{ x.l_picktime }}</td>
                        </tr>
                        <tr>
                            <td>Return Date :</td>
                            <td>{{ x.l_return}}</td>
                        </tr>
                        <tr>
                            <td>Trip Type :</td>
                            <td> Local </td>
                        </tr>
                        <tr>
                            <td>Car Type :</td>
                            <td>{{ x.l_car.c_car }}</td>
                        </tr>
                        <tr>
                            <td>Total Fare :</td>
                            <td>{{ x.l_car.c_amount }}</td>                             
                        </tr>
                        
                        </tbody>
                    </table>
        
                </div>                        
            </div>
            {% empty %}
            <div class="shadow p-4 mb-4 bg-white">
                <div class="card-body d-flex">
                    <div class="p-1 flex-fill">
                        <div >
                            <h1> Dear {{ name|title }},</h1>
                            <h2> Sorry You Don't Have Any Local bookings... </h2>
                        </div>
                    </div>
                </div>                
            </div>                
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}